@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    font-family: "jost", open, Inter, arial;
}






/* Utilities */
.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.flx-wrap {
    flex-wrap: wrap;
}

.pad-4 {
    padding: 4px 8px;
}

.pad-8 {
    padding: 8px;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    width: 70%;
    max-width: 1280px;
}


/* specifics */
header > * {
    background-color: #00486C;
    width: 100%;
}

.main-head {
    justify-content: space-between;
    align-items: center;
}

.squared-icon {
    border: solid #E1FF00 2px;
    padding: 2px;
    margin: 6px;
    width: 50px;
    height: 50px;
}

.sub-head {
    background-color: #D4BDEC;
    padding: 4px 4px;
}

.card {
    max-width: 300px;
}

/* fine tunes */

.logo > p {
    font-weight: 900;
    color: #E1FF00;
    font-size: 3.2rem;
}

.titled-icon {
    align-items: center;
    justify-content: center;
}

.titled-icon > p {
    font-size: 0.7rem;
}

.nav > .titled-icon > p {
    color: #E1FF00;
}

.sub-head > ul {
    justify-content: center;
    align-items: center;
}

.sub-head > ul > li {
    margin: 0 8px;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}